/* Custom page CSS
-------------------------------------------------- */

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
}

body{
	font-family: 'Work Sans', sans-serif;
	background-color: #C5C1C0;
	color: white;
	margin: 0;
	line-height: 1.5;
}

*{
	box-sizing: border-box;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

/* Basic Typography */
h1{
	font-size: 45px;
	color: #f7ce3e;
	font-weight: 500;
}

h2{
	font-size: 25px;
	font-weight: 300;
}

section h2{
	font-weight: 500;
}

h2 a{
	color: white;
	text-decoration: none;
	border-bottom: 2px solid #f7ce3e;
}

h2 a:hover{
	color: #f7ce3e;
}

p{
	font-size: 19px;
	font-weight: 300;
}

p a{
	color: white;
}

a{
	transition: ease all 0.2s;
}

/* Head */
header{
	height: 100vh;
	padding: 100px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

#pt{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: -1;
	background-color: #f7ce3e;
}

header nav{
	text-align: left;
	position: absolute;
    left: 100px;
    cursor: pointer;
}

header nav a{
	text-decoration: none;
	margin-left: 50px;
	border-bottom: 2px solid rgba(223, 93, 75, 0);
	color: #1a2930;
}

header nav a:hover{
	border-bottom: 2px solid #f7ce3e;
}

.centerer{
	display: flex;
	height: 100%;
	
}

.hero{
	max-width: 420px;
	margin-top: auto;
	margin-bottom: auto;
}
